.fixed-size-box {
    width: 160px;
  }
  
  .fixed-time {
    height: 30px;
  }
  

@font-face {
    font-family: 'retro';
    src: url('../assets/fonts/retro.ttf') format('truetype');
  }
  
  body {
    font-family: 'retro', sans-serif;
  }

.pulsing-text {
    font-family: retro; /* A game-like font */
    font-size: 2rem;
    color: black;
    animation: pulse 2s infinite;
    text-align: end;
    padding-left: 30px;
    padding-top: 30px;
}
  
@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

canvas {
    touch-action: none;
}
  
  