
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Dark background color */
    color: black;
    flex-direction: row;
  }
  
  .loader-icon {
    animation: rotate 2s linear infinite;
    color: black;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader-text {
    font-family: 'Poppins', sans-serif; /* Replace with a fancy font family */
    font-size: 2em;
    animation: pulse 1.5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  